In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('steam_reviews.csv')

In [4]:
df.head(10)

,Unnamed: 0,app_id,app_name,review_id,language,review,timestamp_created,timestamp_updated,recommended,votes_helpful,...,steam_purchase,received_for_free,written_during_early_access,author.steamid,author.num_games_owned,author.num_reviews,author.playtime_forever,author.playtime_last_two_weeks,author.playtime_at_review,author.last_played
0,0,292030,The Witcher 3: Wild Hunt,85185598,schinese,不玩此生遗憾，RPG游戏里的天花板，太吸引人了,1611381629,1611381629,True,0,...,True,False,False,76561199095369542,6,2,1909.0,1448.0,1909.0,1.611343e+09
1,1,292030,The Witcher 3: Wild Hunt,85185250,schinese,拔DIAO无情打桩机--杰洛特!!!,1611381030,1611381030,True,0,...,True,False,False,76561198949504115,30,10,2764.0,2743.0,2674.0,1.611386e+09
2,2,292030,The Witcher 3: Wild Hunt,85185111,schinese,巫师3NB,1611380800,1611380800,True,0,...,True,False,False,76561199090098988,5,1,1061.0,1061.0,1060.0,1.611384e+09
3,3,292030,The Witcher 3: Wild Hunt,85184605,english,"One of the best RPG's of all time, worthy of a...",1611379970,1611379970,True,0,...,True,False,False,76561199054755373,5,3,5587.0,3200.0,5524.0,1.611384e+09
4,4,292030,The Witcher 3: Wild Hunt,85184287,schinese,大作,1611379427,1611379427,True,0,...,True,False,False,76561199028326951,7,4,217.0,42.0,217.0,1.610788e+09
5,5,292030,The Witcher 3: Wild Hunt,85184171,english,"good story, good graphics. lots to do.",1611379264,1611379264,True,0,...,True,False,False,76561198170193529,11,1,823.0,823.0,823.0,1.611379e+09
6,6,292030,The Witcher 3: Wild Hunt,85184064,english,"dis gud,",1611379091,1611379091,True,0,...,True,False,False,76561198119302812,27,2,4192.0,3398.0,4192.0,1.611352e+09
7,7,292030,The Witcher 3: Wild Hunt,85183602,turkish,.\n,1611378312,1611378312,True,0,...,True,False,False,76561199084188849,9,1,2701.0,0.0,2701.0,1.609671e+09
8,8,292030,The Witcher 3: Wild Hunt,85183227,schinese,年度最佳的作品，没啥好夸的，神作,1611377703,1611377703,True,0,...,True,False,False,76561198130808993,581,17,6921.0,222.0,6921.0,1.611317e+09
9,9,292030,The Witcher 3: Wild Hunt,85182785,spanish,great game,1611377005,1611377005,True,0,...,True,False,False,76561198301724112,38,5,2399.0,333.0,2364.0,1.611379e+09

In [5]:
df.drop(df.columns[0], axis=1, inplace=True)

In [6]:
df['time']=pd.to_datetime(df['timestamp_created'],unit='s')
df['time'].head(10)

0   2021-01-23 06:00:29
1   2021-01-23 05:50:30
2   2021-01-23 05:46:40
3   2021-01-23 05:32:50
4   2021-01-23 05:23:47
5   2021-01-23 05:21:04
6   2021-01-23 05:18:11
7   2021-01-23 05:05:12
8   2021-01-23 04:55:03
9   2021-01-23 04:43:25
Name: time, dtype: datetime64[ns]

In [7]:
df['time'].max()

Timestamp('2021-01-23 18:24:47')

In [8]:
df['time'].min()

Timestamp('2010-11-19 20:17:16')

In [9]:
# Grouping all the comments by month
counter = df.groupby([pd.Grouper(key="time", freq="1M", origin='2011-01-01'),pd.Grouper('app_id')])

In [10]:
df.columns

Index(['app_id', 'app_name', 'review_id', 'language', 'review',
       'timestamp_created', 'timestamp_updated', 'recommended',
       'votes_helpful', 'votes_funny', 'weighted_vote_score', 'comment_count',
       'steam_purchase', 'received_for_free', 'written_during_early_access',
       'author.steamid', 'author.num_games_owned', 'author.num_reviews',
       'author.playtime_forever', 'author.playtime_last_two_weeks',
       'author.playtime_at_review', 'author.last_played', 'time'],
      dtype='object')

In [11]:
review = counter.count()['review']

In [12]:
playtime_at_review = counter.mean()['author.playtime_at_review']

In [13]:
voted_up = counter.mean()['recommended']

In [14]:
df_flat = pd.DataFrame({'review':review, 'playtime': playtime_at_review, 'voted_up': voted_up})
df_flat

                    review      playtime  voted_up
time       app_id
2010-11-30 70           20   1214.894737  1.000000
           240         139  50557.539568  1.000000
           420          19    826.666667  1.000000
           4000        219  66743.876712  0.995434
           8930         28  13162.214286  1.000000
...                    ...           ...       ...
2021-01-31 1225330    1932   3552.997419  0.446051
           1229490     611    475.193126  1.000000
           1240210     962    384.567568  0.974012
           1289310    1864    178.344051  0.965702
           1291340     427    241.918033  0.960187

[15735 rows x 3 columns]

In [15]:
# save the dataframe to a csv file
df_flat.to_csv('steam_per_month_review_a1.csv', encoding = "utf-8")