In [1]:
# Import dependencies
import pandas as pd

In [2]:
# Read data source and explore
df = pd.read_csv('for_ml_model.csv')
df.describe()

,appid,review,voted_up,english,achievements,recommended,2d,action,adventure,atmospheric,...,tw_Unnamed: 0,tw_Rank,tw_Hours_watched,tw_Hours_Streamed,tw_Peak_viewers,tw_Peak_channels,tw_Streamers,tw_Avg_viewers,tw_Avg_channels,tw_Avg_viewer_ratio
count,38020.000000,38020.000000,38020.000000,38020.0,38020.000000,38020.000000,38020.000000,38020.000000,38020.000000,38020.000000,...,3.802000e+04,38020.000000,3.802000e+04,3.802000e+04,3.802000e+04,38020.000000,38020.000000,38020.000000,38020.000000,38020.000000
mean,300102.720410,207.664203,0.838133,1.0,50.120700,0.636796,58.840952,368.733719,242.843004,149.996633,...,5.533201e+05,2913.497396,1.644701e+07,5.894537e+05,5.551302e+03,35.397186,1376.192267,375.830195,13.075802,18.317769
std,175274.299389,843.033299,0.168222,0.0,94.506685,0.480929,304.678195,1122.927974,756.449969,467.596711,...,3.221961e+05,3139.223900,1.840185e+08,4.064842e+06,2.710217e+04,188.513475,7562.134932,4215.819902,92.882572,49.912067
min,10.000000,1.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000e+00,1.000000,0.000000e+00,6.000000e+01,0.000000e+00,1.000000,0.000000,0.000000,0.000000,0.000000
25%,219890.000000,18.000000,0.777778,1.0,11.000000,0.000000,0.000000,8.000000,0.000000,0.000000,...,2.764732e+05,746.000000,6.724500e+04,1.140000e+04,9.100000e+01,3.000000,49.000000,1.000000,0.000000,4.040000
50%,283640.000000,47.000000,0.888889,1.0,34.000000,1.000000,0.000000,111.000000,69.000000,9.000000,...,5.570295e+05,1854.000000,3.870900e+05,3.828000e+04,5.620000e+02,6.000000,160.000000,8.000000,0.000000,7.950000
75%,394442.500000,132.000000,0.951613,1.0,59.000000,1.000000,15.000000,305.000000,202.000000,123.000000,...,8.303770e+05,3955.250000,2.428005e+06,1.756500e+05,3.168000e+03,17.000000,659.250000,55.000000,4.000000,16.800000
max,977950.000000,35868.000000,1.000000,1.0,1708.000000,1.000000,5626.000000,17561.000000,10503.000000,8126.000000,...,1.115592e+06,21713.000000,1.142811e+10,1.443277e+08,1.373791e+06,6530.000000,252217.000000,256350.000000,3237.000000,2261.000000

In [3]:
# Subset original df with columns of interest (appid and genres)
df_genres = df[['appid','2d','action','adventure','atmospheric', 'casual', 'co_op', 'difficult', 'fps',
       'first_person', 'funny', 'great_soundtrack', 'indie', 'multiplayer',
       'open_world', 'rpg', 'sandbox', 'sci_fi', 'shooter', 'simulation',
       'singleplayer', 'story_rich', 'strategy', 'survival', 'third_person']]

df_genres

,appid,2d,action,adventure,atmospheric,casual,co_op,difficult,fps,first_person,...,rpg,sandbox,sci_fi,shooter,simulation,singleplayer,story_rich,strategy,survival,third_person
0,20,0,208,15,0,0,62,0,188,109,...,0,0,0,134,0,0,0,0,0,0
1,20,0,208,15,0,0,62,0,188,109,...,0,0,0,134,0,0,0,0,0,0
2,20,0,208,15,0,0,62,0,188,109,...,0,0,0,134,0,0,0,0,0,0
3,20,0,208,15,0,0,62,0,188,109,...,0,0,0,134,0,0,0,0,0,0
4,20,0,208,15,0,0,62,0,188,109,...,0,0,0,134,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38015,313120,0,439,1050,404,0,441,0,0,1066,...,0,696,0,0,605,873,0,339,2177,0
38016,313120,0,439,1050,404,0,441,0,0,1066,...,0,696,0,0,605,873,0,339,2177,0
38017,738060,0,0,46,90,0,0,196,0,167,...,0,0,0,0,262,288,149,167,0,0
38018,738060,0,0,46,90,0,0,196,0,167,...,0,0,0,0,262,288,149,167,0,0
38019,738060,0,0,46,90,0,0,196,0,167,...,0,0,0,0,262,288,149,167,0,0

In [4]:
# Check number of unique games
len(df_genres['appid'].unique())

780

In [5]:
# As genres will not change per game, use groupby() to groupby appid and return the first instance of each game
df_genres_group = df_genres.groupby('appid').first()
df_genres_group

,2d,action,adventure,atmospheric,casual,co_op,difficult,fps,first_person,funny,...,rpg,sandbox,sci_fi,shooter,simulation,singleplayer,story_rich,strategy,survival,third_person
appid,,,,,,,,,,,,,,,,,,,,,
10,0,2681,0,0,0,0,0,2048,799,0,...,0,0,0,1420,0,0,0,329,192,0
20,0,208,15,0,0,62,0,188,109,20,...,0,0,0,134,0,0,0,0,0,0
30,0,99,0,0,0,12,0,138,50,0,...,0,0,0,95,0,16,0,0,0,0
50,0,211,87,73,0,27,0,235,126,0,...,0,0,166,144,0,148,40,0,0,0
70,0,766,306,263,0,0,113,929,430,0,...,0,0,666,503,0,518,322,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
871720,0,206,0,173,0,0,445,0,360,154,...,0,0,0,0,133,442,181,414,319,0
905370,0,47,0,0,0,0,0,0,0,0,...,40,0,0,0,0,0,0,41,0,0
942970,0,0,0,0,0,0,0,0,0,0,...,25,0,0,0,23,0,21,0,0,0
960090,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,26,0,43,0,0
977950,0,16,0,0,0,0,29,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
# Check how many columns with genres we have
column_length = len(df_genres_group.columns)

In [ ]:
# Initialize a dictionary to hold appid and genres associated
# Loop through all rows
# For each row, loop through each column
# If value in each column is > 0, then add row index to dictionary as key, and add value as value in dictionary

In [7]:
# Instantiate an empty dictionary to hold our genres
genre_dict = {}

In [33]:
# Assess data structure of first row by using iterrows() method
# data is returned as a tuple
first_row = next(df_genres_group.iterrows())
first_row

(10,
 2d                     0
 action              2681
 adventure              0
 atmospheric            0
 casual                 0
 co_op                  0
 difficult              0
 fps                 2048
 first_person         799
 funny                  0
 great_soundtrack       0
 indie                  0
 multiplayer         1659
 open_world             0
 rpg                    0
 sandbox                0
 sci_fi                 0
 shooter             1420
 simulation             0
 singleplayer           0
 story_rich             0
 strategy             329
 survival             192
 third_person           0
 Name: 10, dtype: int64)

In [43]:
# Can access a Series of genres and their vote counts with indexing
first_row[1]

2d                     0
action              2681
adventure              0
atmospheric            0
casual                 0
co_op                  0
difficult              0
fps                 2048
first_person         799
funny                  0
great_soundtrack       0
indie                  0
multiplayer         1659
open_world             0
rpg                    0
sandbox                0
sci_fi                 0
shooter             1420
simulation             0
singleplayer           0
story_rich             0
strategy             329
survival             192
third_person           0
Name: 10, dtype: int64

In [83]:
# for row in df_genres_group.iterrows():
#     storage_list = []
#     for val in row[1]:
#         if val > 0:
#             storage_list.append(row[1].index.values[val])
#     genre_dict[row[0]] = storage_list

IndexError: index 2681 is out of bounds for axis 0 with size 24

In [84]:
# Loop through each row in our genres table
for row in df_genres_group.iterrows():
    # create an empty list to temporarily hold our genre data
    storage_list = []
    # Iterate through each value in our Series, and unpack our Series (row[1]) into index and value
    for ind, val in row[1].iteritems():
        # if a genre is represented in a game (val > 0), add the index (genre name) to storage list
        if val > 0:
            storage_list.append(ind)
    # create a new key:value pair in dictionary, with key = appid, and value the list of represented genres
    genre_dict[row[0]] = storage_list

In [87]:
# assess data structure of first entry
genre_dict[10]

['action',
 'fps',
 'first_person',
 'multiplayer',
 'shooter',
 'strategy',
 'survival']

In [118]:
genre_dict.keys()

dict_keys([10, 20, 30, 50, 70, 80, 130, 220, 240, 300, 320, 340, 380, 400, 420, 440, 500, 550, 570, 620, 630, 730, 1250, 1840, 2600, 3830, 4000, 4500, 4920, 6860, 6910, 8190, 8870, 9420, 9480, 10090, 11020, 12100, 12110, 12120, 12140, 12200, 15620, 16450, 17080, 17300, 17450, 17460, 17470, 18500, 20510, 20920, 21090, 21100, 22000, 22100, 22300, 22350, 22380, 24980, 25000, 25890, 26800, 29800, 39000, 39120, 39140, 39150, 39210, 39510, 40100, 40300, 40700, 40970, 41000, 41070, 41500, 41700, 42910, 42960, 44350, 47410, 47810, 48000, 48700, 49520, 50300, 55100, 55150, 55230, 57300, 57690, 57900, 65800, 65930, 67370, 70000, 70300, 70400, 72850, 91700, 92800, 94400, 95400, 96000, 98800, 99900, 102600, 104200, 104900, 105600, 107100, 107410, 108600, 108710, 109600, 110800, 113200, 113400, 115800, 200170, 200510, 200710, 200900, 201790, 201810, 202750, 203160, 203290, 203750, 203770, 204030, 204100, 204340, 205100, 205910, 206190, 206420, 206440, 206500, 207140, 207170, 207690, 209080, 209670, 210770, 210970, 211400, 211820, 212070, 212160, 212680, 212800, 214340, 214420, 214490, 214730, 214770, 215080, 215280, 215470, 215530, 216150, 217200, 218230, 218620, 218640, 218680, 219150, 219640, 219830, 219890, 219990, 220200, 220700, 220780, 221100, 221260, 221640, 221910, 222730, 222880, 223470, 223710, 223750, 224260, 224480, 224600, 224760, 225080, 225600, 225840, 226580, 226840, 226860, 227100, 227300, 227940, 228280, 228300, 228380, 230050, 230190, 230410, 231160, 231430, 232010, 232090, 232430, 232790, 232890, 233130, 233150, 233450, 233470, 233610, 233860, 234140, 234630, 234650, 235460, 235540, 235800, 236090, 236110, 236390, 236690, 236850, 237310, 237870, 237930, 237990, 238010, 238210, 238320, 238370, 238430, 238960, 239030, 239070, 239140, 239160, 239200, 239820, 241600, 242640, 242680, 242700, 242720, 242760, 242820, 242860, 242920, 243970, 244160, 244210, 244450, 244850, 244930, 245470, 245620, 246420, 246620, 246900, 247020, 247080, 248310, 248390, 248570, 248610, 248820, 250180, 250260, 250320, 250340, 250400, 250600, 250900, 251060, 251150, 251570, 251990, 252330, 252410, 252490, 252610, 253030, 253110, 253230, 253250, 253430, 253710, 253980, 255710, 256290, 261640, 262060, 262410, 263060, 264200, 264710, 265210, 265630, 265890, 265930, 266010, 266210, 266510, 266840, 268050, 268130, 268420, 268750, 268910, 269210, 269770, 269950, 270150, 270210, 270450, 270550, 270850, 270880, 271590, 272060, 272510, 274170, 274190, 274520, 274900, 274920, 274940, 275850, 276810, 278360, 280160, 280790, 281990, 282070, 282140, 282800, 283640, 284160, 285190, 285900, 285920, 286160, 286570, 286690, 287390, 287450, 287700, 287980, 288160, 288470, 290080, 290300, 290340, 291480, 291550, 291650, 293260, 293780, 294100, 296300, 296470, 297130, 298630, 299360, 299460, 299740, 300380, 300550, 301520, 301640, 301910, 302380, 302510, 302670, 303210, 303390, 304030, 304050, 304430, 304930, 305620, 307690, 307780, 307880, 310080, 310560, 310950, 311310, 311340, 311690, 312530, 312660, 312990, 313120, 313160, 313340, 313740, 314020, 315430, 316010, 316790, 317360, 318600, 319510, 319910, 320240, 320300, 322170, 322330, 322500, 323190, 323320, 323470, 323850, 324800, 325610, 326460, 327890, 330830, 331470, 332200, 332310, 332500, 332800, 333420, 333600, 333950, 334230, 335240, 335670, 337320, 337340, 339800, 341000, 341800, 341940, 342180, 344760, 346010, 346110, 346120, 346900, 347620, 349040, 351640, 351920, 351970, 352520, 353560, 354140, 355180, 355840, 356570, 356670, 359050, 359320, 359870, 360170, 360740, 360940, 361280, 361420, 361800, 362680, 362890, 362930, 362960, 363890, 363970, 364360, 365360, 365450, 365960, 367450, 367500, 367520, 368230, 368340, 368360, 368370, 369990, 374040, 375230, 375950, 376210, 377160, 377840, 378540, 378610, 378860, 379430, 379720, 380600, 380840, 381210, 382310, 383080, 383120, 383150, 383870, 383980, 385760, 385770, 385800, 386070, 386180, 386940, 387290, 387990, 388090, 388880, 389430, 389730, 391040, 391460, 391540, 391720, 392110, 392160, 393380, 393420, 394310, 394360, 394690, 395170, 397060, 397340, 397950, 398710, 398850, 400910, 402570, 402710, 402840, 403190, 403640, 404410, 405640, 406150, 410110, 411300, 412830, 413150, 413410, 413420, 414340, 414700, 415200, 417860, 418030, 418240, 418340, 418460, 420110, 420290, 420530, 421020, 421040, 422970, 423230, 423880, 424280, 424370, 424840, 425580, 426000, 427290, 427520, 428690, 429050, 430960, 431240, 433340, 433850, 433950, 434570, 434650, 435400, 435530, 436150, 436520, 437920, 438740, 439190, 440900, 442080, 443810, 444640, 445220, 445980, 446800, 447020, 447530, 447820, 448510, 449540, 449960, 451340, 454650, 457140, 459820, 460790, 460930, 462770, 464060, 464920, 466170, 466240, 466560, 467960, 471710, 473690, 474750, 474960, 475150, 475550, 477160, 480490, 481510, 486310, 489520, 489830, 489940, 492720, 493340, 493900, 495890, 496300, 498240, 499440, 501300, 503560, 503940, 504230, 504370, 505460, 506610, 508440, 512900, 513710, 516750, 519190, 519860, 527230, 527430, 529180, 530330, 530700, 531640, 532210, 533300, 535230, 535930, 537180, 537800, 544920, 548430, 550650, 551170, 552100, 552500, 552990, 553640, 554620, 555160, 555220, 555570, 557600, 558100, 560130, 560380, 562220, 564710, 567640, 569480, 571740, 572410, 573090, 575640, 577800, 578080, 578620, 581320, 581630, 582500, 582660, 583950, 584400, 584980, 585420, 588650, 589290, 590380, 594570, 597170, 599140, 601150, 601430, 602520, 606280, 609320, 611500, 611790, 612880, 613100, 616560, 620980, 621060, 624090, 626690, 632360, 635260, 635730, 636480, 637090, 637650, 638970, 639790, 640820, 641990, 643270, 644560, 644570, 644930, 645630, 646570, 648350, 648800, 653530, 657200, 663090, 665300, 665360, 666140, 668630, 673950, 674020, 674940, 675010, 678950, 681660, 683320, 690790, 690830, 707010, 714010, 719890, 728880, 732430, 736220, 737800, 738060, 750920, 755790, 760060, 761890, 784150, 787860, 794260, 800270, 805550, 813820, 815370, 823130, 834910, 841370, 843380, 848450, 851100, 858810, 871720, 905370, 942970, 960090, 977950])

In [135]:
genre_dict[10]

['action',
 'fps',
 'first_person',
 'multiplayer',
 'shooter',
 'strategy',
 'survival']

In [129]:
# Loop through genre dictionary, and for each key (game), add a unique row to a dataframe with each genre
# Initialize an empty dataframe
appid_list = []
genre_column = []

for key in genre_dict.keys():
    for genre_list in genre_dict.values():
        for genre in genre_list:
            # df2 = pd.DataFrame([[key, genre]], columns=['appid','genre'])
            # genres_by_appid_df.append(df2)
            appid_list.append(key)
            genre_column.append(genre)

In [136]:
appid_list = []
genre_column = []

for key in genre_dict.keys():
    for genre in genre_dict[key]:
        appid_list.append(key)
        genre_column.append(genre)

In [144]:
df3 = pd.DataFrame(data={'appid':appid_list,'genre':genre_column})
df3 = df3.set_index('appid')
df3.to_csv('game_genres_separated.csv')

In [126]:
df2

    appid                                         genre
0  977950  [action, difficult, great_soundtrack, indie]

In [124]:
df2

                                          genre
0                                        977950
1  [action, difficult, great_soundtrack, indie]

In [89]:
# Create dataframe from our dictionary, using orient='index' to ignore columns of varying lengths
genre_df = pd.DataFrame.from_dict(genre_dict, orient='index')

In [92]:
genre_df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
10,action,fps,first_person,multiplayer,shooter,strategy,survival,None,None,None,None,None,None,None,None,None
20,action,adventure,co_op,fps,first_person,funny,multiplayer,shooter,None,None,None,None,None,None,None,None
30,action,co_op,fps,first_person,multiplayer,shooter,singleplayer,None,None,None,None,None,None,None,None,None
50,action,adventure,atmospheric,co_op,fps,first_person,great_soundtrack,sci_fi,shooter,singleplayer,story_rich,None,None,None,None,None
70,action,adventure,atmospheric,difficult,fps,first_person,great_soundtrack,multiplayer,sci_fi,shooter,singleplayer,story_rich,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
871720,action,atmospheric,difficult,first_person,funny,indie,simulation,singleplayer,story_rich,strategy,survival,None,None,None,None,None
905370,action,open_world,rpg,strategy,None,None,None,None,None,None,None,None,None,None,None,None
942970,indie,rpg,simulation,story_rich,None,None,None,None,None,None,None,None,None,None,None,None
960090,singleplayer,strategy,None,None,None,None,None,None,None,None,None,None,None,None,None,None
977950,action,difficult,great_soundtrack,indie,None,None,None,None,None,None,None,None,None,None,None,None

In [91]:
genre_df.to_csv('game_genres.csv')